<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{siteName}}</title>
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="body-text">
                <p>
                    {{siteName}} gives you an easy way to share your in-progress writing with others. 
                </p>
                <p>
                    Whether it's for a friend, a writing circle, or a whole conference, you can quickly create a shareable webpage for your work that will last a few hours. {{siteName}} was designed with simplicity in mind, so there are no accounts or logins. You can require a password for people to view your work, but you don't have to. 
                </p>
                <p>
                    {{siteName}} does not track you or sell your data, and there are no ads. When you use {{siteName}}, you retain full rights to your work. {{siteName}} doesn't keep any of your draft's information after its page expires. 
                </p>                
            </div>
        </div>
        {{>footer}}

        {{>commonScripts}}
    </body>
</html>