<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{siteName}}</title>
        <meta name="robots" content="noindex" />
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1 id="title">{{title}}</h1>
            <h2 id="author">{{author}}</h2>
            <div id="draft-viewer">
                {{{body}}}
            </div>            
        </div>        
        {{>footer}}

        {{>commonScripts}}
    </body>
</html>